<template>
  <div id="article">
    <ul>
      <li v-for="(item, i) in list" :key="i">
        <div class="info">
          <div class="title">{{ item.title }}</div>
          <div class="summary">{{ item.summary }}</div>
          <div class="time">{{ item.time }}</div>
        </div>
        <div class="thumb"></div>
      </li>
    </ul>
  </div>
</template>

<script>
import { list } from "./index";
export default {
  data() {
    return {
      list: list,
    };
  },
};
</script>

<style lang="scss" scoped>
#article {
  ul {
    width: 600px;
    margin: 0 auto 100px;
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0 20px;
      border-bottom: 1px solid #f0f0f0;
      cursor: pointer;
      &:last-child {
        border: none;
      }
      .info {
        flex: 1;
        .title {
          font-size: 18px;
          font-weight: bolder;
          color: #333;
          margin-bottom: 4px;
        }
        .summary {
          font-size: 13px;
          color: #999;
          margin-bottom: 8px;
        }
        .time {
          font-size: 12px;
          color: #b4b4b4;
        }
      }
      .thumb {
        width: 125px;
        height: 100px;
        background-color: #333;
        border-radius: 4px;
        margin-left: 10px;
      }
    }
  }
}
</style>