<template>
  <div id="main">
    <div class="title">破烂垃圾堆</div>
    <Article></Article>
    <div class="footer">
      <p>
        <span class="copy-right">版权所有 ©2022 longlili.com</span>
        <a href="https://beian.miit.gov.cn/" target="_blank">沪ICP备2022017002号-1</a>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  components: {
    Article: () => import("@/views/article/article"),
  },
};
</script>

<style lang="scss" scoped>
#main {
  .title {
    font-size: 30px;
    color: #333;
    font-weight: bolder;
    text-align: center;
    margin: 60px auto 30px;
  }
  .footer {
    height: 80px;
    text-align: center;
    background-color: #232525;
    color: #868787;
    font-size: 12px;
    overflow: hidden;
    p {
      margin-top: 30px;
    }
    .copy-right {
      margin-right: 10px;
    }
    a {
      color: #868787;
    }
  }
}
</style>